//font
$font-stack: 'Segoe UI', Arial, Helvetica, sans-serif;

//colors
$white: #ffffff;
$white-special: #f5f4f4;
$white-gray:#e0dada;
$light-gray: #c7bfbf;
$dune: #342f2b;
$fire-bush: #e49129;
$aths-special: #efeed4;
$asparagus:#779556;
$well-read: #af3435;
$viking: #60bbe3;
$petite-orchid: #d99592;
$elm: #1d718d;
$brandy: #ddc392;
$dusty-gray: #949494;
$paarl: #a4622e;
$apple: #6c9c44;
$cactus: #5c6c53;
$fuscous-gray: #575350;
$dark-gray: #3f3c3a;

//breakpoints
$small-size-down: "max-width: 639px";
$medium-size-up: "min-width: 640px";
$medium-size-down: "max-width: 959px";
$large-size-up: "min-width: 960px";

//buttons size
$small-button: 100px;
$medium-button: 200px;
$large-button: 300px;
$padding-button : 10px;